* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-80 {
    margin-top: 80px !important;
}

.image-slider-p {
    padding: 0 !important;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

.text-silver {
    color: #cccccc;
}

.display-1 {
    font-size: 20px;
}

p {
    color: #505050;
}

h1, h2, h3, h4, h5, h6 {
    color: #212121;
}

h2 {
    font-size: 30px !important;
    line-height: 24px !important;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.active {
    color: #ff3115;
}

section {
    // min-height: 100vh;
    // padding: 100px 0;
  }

.sec-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

  hr {
    width: 100px;
    height: 3px;
    background-color: #ff3115;
    border-color: #ff3115;
  }

//   Section Titles

@media screen and (max-width: 767px){
    
    .sec-title h2 {
        font-size: 25px !important;
    }

    .sec-title p {
        font-size: 12px !important;
    }
}

.owl-dots span {
    display: none !important;
}