// Top Navigation

header .header-top {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 7px 0;

    .container .row .col-6 .university-icon {
        margin-right: 10px;
    }

    .toolbar-right ul {
        margin-right: 30px;

        li {
            display: inline-block;
            margin-right: 10px;
            
    
             a {
                color: #888888;
            }
        }
    }
}

// Info Navigation 

.header-contact {
    padding: 20px 0;

    a {
        color: black;

        .info {
            color: #505050;
        }
    }
}

.header-contact .container .row .mail-info {
    display: flex;

    i {
        margin-right: 10px;
        font-size: 35px;
    }

    .info-details a {
        display: flex;
        flex-direction: column;    
    }
}

.header-contact .container .row .logo-info {
    text-align: center;
}

.header-contact .container .row .call-info {
    display: flex;
    justify-content: flex-end;

    i {
        margin-right: 10px;
        font-size: 35px;
    }

    .number-info a {
        display: flex;
        flex-direction: column;    
    }
}

// Bottom-Navigation

// Sticky Menu

.menu-sticky.sticky {
  background: #111111;
  position: fixed !important;
  top: 0px;
  z-index: 999;
  margin: 0 auto !important;
  padding: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  animation-duration: .5s;
  animation-name: sticky-animation;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.menu-sticky.sticky .main-menu {
  position: static ;
}

.menu-sticky1.sticky1 .menu-items > li > a {
  height: 80px;
  line-height: 80px;
}

@keyframes sticky-animation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header nav {
    background-color: #212121;

    .m-menu-icon{
        display: none;
        color: #fff;
        height: 54px;
        line-height: 54px;
    }

    .main-menu{
        display: flex;
        position: relative;

        .menu{
            width: 100%;
            height: 54px;

            .menu-items {
                padding: 0;
                margin: 0;

                .menu-item {
                    display: inline-block;
                    margin-right: 30px;

                    a {
                        padding: 15px 0;
                        display: inline-block;
                        color:  #bbbbbb;
                        text-transform: uppercase;

                        &.active {
                            color: #ff3115 !important;
                        }

                        &:hover {
                            color: #ff3115 !important;
                        }
                    }
                }
            }
        }
    }
}

.menu-item .menu-parent i {
    display: none;
}

header nav .main-menu .search-container {
    display: flex;
    align-items: center;

    .search-icon,
    .menu-icon {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

header nav .main-menu .search-container .search-icon {
        background-color: #ff3115;

        &:hover {
            background-color: #e41f05;
        }
}

header nav .main-menu .search-container .menu-icon {
        background-color: #e41f05;

    &:hover {
        background-color: #ff3115;
    }

    span {
        color: #fff !important;
    }
}

header nav .main-menu .search-container .search-icon {
    padding: 0 20px;
    color: #fff;
    position: absolute;
    right: 55px;
}

// Modal Search

header nav .main-menu .search-container .modal-info  {
    display: none; 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: #000000f2;
    padding-top: 60px;

    .modal-content {
        margin: 10% auto 15% auto;
        width: 60%;
    }

    .close {
        position: absolute;
	    top: 32px;
	    right: 32px;
	    background: none;
	    border: 0;
	    font-size: 16px;
	    font-weight: 700;
	    display: block;
	    cursor: pointer;
	    color: black;
        padding: 16px 24px;
	    background: white;
	    border-radius: 50%;
        outline: none;

        &:hover {
            background: #ff3115 ;
        }
    }

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        display: inline-block;
        font-size: 20px;
        background: transparent;
        outline: 0;
        border-width: 0 0 1px;
        border-color: rgb(144, 144, 145);
        color: rgb(144, 144, 145);
      }

    .animate {
        animation: animatezoom 0.6s
      }

    @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
    }
}



// Canvas Menu

header .sidenav .canvas-logo {
    padding-left: 24px;
    padding-bottom: 20px;
}

header .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
header .sidenav a:hover {
    color: #f1f1f1;
  }
  
header .sidenav .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    font-weight: bold;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 26px;
    text-align: center;
    transition: all 0.3s ease 0s;


    &:hover {
        background-color: #ff3115;
        border-color: #ff3115;
        color: #fff;
    }
  }
  
header #main {
    transition: margin-left .5s;
    padding: 0 14px;
  }

header .search-input {
    padding: 20px 24px 0;
    position: relative;

    label {
    display: block;
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 8px;
    }

    input {
    width: 100%;
    border-radius: 30px;
    background: #fff;
    padding: 8px 24px;
    margin-top: 6px;
    font-size: 20px;
    }

    button {
        color: #ff3115;
        position: absolute;
        right: 40px;
        background: transparent;
        cursor: pointer;
        bottom: 11px;
        font-size: 18px;
        border: none;
        outline: none;

        i {
            display: inline-block;
        }
    }
}

header .sidenav .sidenav-list .sidenav-undesigned {
    border-bottom: 1px solid rgba(255,255,255,0.15);
    font-size: 16px;
    position: relative;
    display: block;

    a {
        color: #fff;
        text-decoration: none;
        padding: 8px 24px;
        display: block;
        transition: 0.4s;
    }
      
      a{
        cursor: pointer;
        display: inline-block;
        position: relative;
        left: 0;
        transition: 0.5s;
      }
      
      a:after {
        content: '>';
        position: absolute;
        opacity: 0;  
        top: 14px;
        right: -10px;
        left: 310px;
        transition: 0.5s;
      }
      
      a:hover:after {
        opacity: 1;
      }
}



header .sidenav .sidenav-list .sidenav-list-menu {
    font-size: 16px;
    position: relative;
    display: block;
    font-size: 16px;

    &:before {
        position: absolute;
        content: ">";
        transform: translateY(0) rotate(90deg);        
        color: #ffffff;
        width: 32px;
        height: 32px;
        line-height: 30px;
        background: rgba(255,255,255,0.2);
        border: 1px solid rgba(255,255,255,0.3);
        right: 8px;
        top: 5px;
        cursor: pointer;
        z-index: 999;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        transition: 0.4s;
    }

    .border-bottom {
    border-bottom: 1px solid rgba(255,255,255,0.15);
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    display: block;
    transition: 0.4s;
}

    .border-top {
        border-top: 1px solid rgba(255,255,255,0.15);
    }

    .fade-sidenav {
        display: none;
        border-top: 1px solid rgba(255,255,255,0.15);

        &:active {
            display: block;
        }

        li {
            border: 0;
            font-size: 16px;
            position: relative;
            display: block;

            a {
                display: block;
                padding: 8px 45px;
                font-size: 14px;
                background: rgba(0,0,0,0.15) !important;
            }
        }
    }
}

header .sidenav .sidenav-list .sidenav-list-menu .list-unstyled {
    display: none;

    a {
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    display: block;
    transition: 0.4s;
    margin-left: 30px;
}

    a {
        cursor: pointer;
        display: inline-block;
        position: relative;
        left: 0;
        transition: 0.5s;
}
      
      a:after {
        content: '>';
        position: absolute;
        opacity: 0;  
        top: 14px;
        right: -10px;
        left: 250px;
        transition: 0.5s;
      }
      
      a:hover:after {
        opacity: 1;
      }
}

// On-Hover Dropwdown-Menu

header nav .container .row .col-12 .main-menu .menu .menu-items {
    display: flex;
    align-items: center;
}

header nav .container .row .col-12 .main-menu .mega-item a {
        padding: 15px 0;
        display: inline-block;
        color: #bbbbbb;
        text-transform: uppercase;

        &:hover {
            color: #ff3115 !important;
        }
}

header nav .container .row .col-12 .main-menu .menu .menu-items .menu-item {
    position: relative;
    
    &:hover .sub-menu {
        opacity: 1;
        visibility: visible;
        display: block;
    }

    .sub-menu {
        position: absolute;
        top: 54px;
        z-index: 10;
        background-color: #000;
        width: 300px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;

        li {
            border-bottom: 1px solid #222;
            width: 100%;
        }

        a {
            display: inline-block;
            width: 100%;
            font-size: 14px;
            padding: 14px 18px;
            text-transform: capitalize;

            

            &:hover {
                color: #ff3115;
            }
        }
    }
}

header nav .container .row .col-12 .mega-item {
    display: inline-block;
    margin-right: 30px;

    &:hover .mega-menu {
        opacity: 1;
        visibility: visible;
    }
}

header nav .container .row .col-12 .main-menu .mega-menu {
    position: absolute;
    top: 54px;
    left: 0;
    z-index: 10;
    background-color: #000;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;

    .sidenav-list-menu {
        border-bottom: 1px solid #222;
    }

    a {
        color: #bbb;
        display: inline-block;
        padding: 14px 18px;
        width: 100%;
        font-size: 14px;
        text-transform: capitalize;

        &:hover {
            color: #ff3115;
        }
    }
}


.mega-item .menu-parent i {
    display: none;
}

// Responsiveness

// Top-Responsiveness

@media screen and  (max-width: 768px) {
    header .header-top .container .topNav .u-part {
        margin-bottom: 10px;
    }

    header .header-top .container .topNav {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
    }
    header .header-top .container .topNav .rs-toolbar-right ul {
        display: inline-block;
        margin-right: 10px;
        font-size: 10px;
       }
    header .header-top .container .topNav .rs-toolbar-right {
        display: flex;
        justify-content: flex-start !important;
       }
    
  }

// Contact-Responsiveness

  @media screen and (max-width: 768px){

    header .header-contact .container .row .mail-info,
    header .header-contact .container .row .call-info {
        display: none;
    }

    header .header-contact .container .row .logo-info a {
        margin: 0 100px;
    }
}

// Navigation-Responsiveness

@media only screen and (min-width:768px){

    header nav .main-menu .menu {
        height: 54px !important;
    }
}

@media only screen and (max-width:767px) {

    nav .main-menu .search-container .search-icon {
        position: absolute;
        right: 0;
        top: 0;
        height: 54px;
    }

    header nav .main-menu {
        flex-direction: column;
    }

    header nav .main-menu .menu {
        overflow: hidden;
        height: 0;
        transition: all 0.6s;
    }

    header nav .m-menu-icon {
        display: block;
    }

    .menu .menu-items .menu-item {
        display: block;
    }
}