// // News Normal

.card-body-items .news-normal-block {
    border: 1px solid rgba(34, 34, 34, 0.1);
    transition: all 0.3s ease 0s;
}

.card-body-items .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    line-height: 1.4;
    padding: 15px 10px;
}

.card-body-items .col-6 .news-img {
    margin-bottom: 20px;

    img {
        max-width: 100%;
        height: auto;
    }
}
  
.card-body-items {
    padding: 2px 16px;

    a {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
        color: #505050;

        i {
            font-size: 15px;
            font-weight: 500;
            display: inline-block;
            margin-right: 4px;
            color: #ff3115;
        }
    }
}

    h4 {

        a {
            color: #212121;
            transition: all 0.3s ease 0s;
            text-decoration: none !important;
            outline: none !important;
            font-size: 18px;
            font-weight: 700;
        }

    p {
        margin-bottom: 20px;
    }
  }


  .card-button {
    display: inline-block;
    margin-left: auto;
    padding: 10px 16px;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    background-color: #ff3115;
    color: #fff !important;
}

// // News List


.card-body-items .news-list-block {
    margin-bottom: 10px;
}   
  
.card-body-items .news-list-block .card  .container a {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
        color: #505050;
}

.card-body-items .news-list-block .card .row .col-9 {

    line-height: 1.4;

    h4 {
        color: #212121;
    }

    a {
        color: #505050;
    }

    i {
        font-size: 15px;
        font-weight: 500;
        display: inline-block;
        margin-right: 4px;
        color: #ff3115;
    }
}

.news-list-item:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.public-img img {
    max-width: 100%;
    
}