// Section Publications

// Card Header 

.publications {
    background-color: #f9f9f9;
}

.publications .container .col-12 .slider-publications .product-item {
    text-align: center;
    transition: all 0.3s ease 0s;
    background-color: #fff;

    &:hover {
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    }

    .product-img {
        margin-bottom: 17px;
        overflow: hidden;

        &:hover img {
            transform: scale(1.1);
        }

        a {
            color: #ff3115;
            transition: all 0.3s ease 0s;
            outline: none;

            &:active,
            &:hover {
                color: #e41f05;
            }
        }

        img {
            width: 100%;
            transition: all 0.3s ease 0s;
        }
    }

    .product-title {
        font-size: 20px;
        margin-bottom: 3px;

        a {
            color: #212121;

            &:hover,
            &:focus,
            &:active {
                color: #ff3115;
            }
        }
    }

    .product-price {
        font-size: 16px;
        color: #444;
        display: block;
    }

    .product-btn {
        margin-top: 20px;
        padding-bottom: 25px;

        a {
            display: inline-block;
            margin-left: auto;
            padding: 2px 15px;
            font-size: 15px;
            font-weight: 500;
            border: 1px solid #212121;
            color: #212121;

            &:hover {
                border-color: #ff3115;
                background-color: #ff3115;
                color: #fff;    
            }
        }
    }
}

.publications .view-btn {
    text-align: center;
    margin-top: 20px;

    a {
        display: inline-block;
        margin-left: auto;
        min-width: 170px;
        padding: 8px 20px;
        font-size: 15px;
        font-weight: 500;
        background-color: #ff3115;
        color: #fff;

        &:hover {
            background-color: #e41f05;
        }
    }
}