// Section Acheivements

// Image part

.acheivements .counter {
    background-image: url(../photos/acheivements/counter-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.acheivements .counter {
    padding-bottom: 70px;
    padding-top: 100px;

    .counter-content .counter-title {
        color: #fff;
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 25px;
    }

    .counter-text p {
        margin-bottom: 35px;
        color: rgba(255, 255, 255, 0.6);
    }

    .counter-img {
        box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);

        & {
            position: relative;
            overflow: hidden;
        }

        &::before {
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
            background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            background: linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            transform: skew(-25deg);
        }

        &:hover::before {
            animation: image-shine 1s;
        }

        @keyframes image-shine {
            100% {
                left: 125%;
            }
        }

        img {
            border-radius: 8px;
            max-width: 100%;
            height: auto;
        }
    }
}

// Table Row Part

.acheivements .counter .container .row {
    margin-top: 80px;

    .col-md-6 .counter-list {
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 30px;
        text-align: center;
        padding: 40px;
        transition: .3 all ease;
        
        .counter-number {
            font-size: 60px !important;
            color: #fff;
            margin-bottom: 20px; 
        }

        .counter-desc {
            color: #fff;
            font-weight: 500;
            margin-bottom: 0;
            font-size: 20px;
            text-transform: uppercase;
        }

        &:hover {
            border-color: #ff3115;
        }
    }
}