* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-80 {
  margin-top: 80px !important;
}

.image-slider-p {
  padding: 0 !important;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-silver {
  color: #cccccc;
}

.display-1 {
  font-size: 20px;
}

p {
  color: #505050;
}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
}

h2 {
  font-size: 30px !important;
  line-height: 24px !important;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.active {
  color: #ff3115;
}

section {
  min-height: 100vh;
  margin: 100px 0;
}

.sec-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

hr {
  width: 100px;
  height: 3px;
  background-color: #ff3115;
  border-color: #ff3115;
}

header .header-top {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 7px 0;
}

header .header-top .container .row .col-6 .university-icon {
  margin-right: 10px;
}

header .header-top .rs-toolbar-right ul {
  margin-right: 30px;
}

header .header-top .rs-toolbar-right ul li {
  display: inline-block;
  margin-right: 10px;
}

header .header-top .rs-toolbar-right ul li a {
  color: #888888;
}

.header-contact {
  padding: 20px 0;
}

.header-contact a {
  color: black;
}

.header-contact a .info {
  color: #505050;
}

.header-contact .container .row .mail-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contact .container .row .mail-info i {
  margin-right: 10px;
  font-size: 35px;
}

.header-contact .container .row .mail-info .info-details a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-contact .container .row .logo-info {
  text-align: center;
}

.header-contact .container .row .call-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-contact .container .row .call-info i {
  margin-right: 10px;
  font-size: 35px;
}

.header-contact .container .row .call-info .number-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav {
  background-color: #1b1b1b;
}

header nav .m-menu-icon {
  display: none;
  color: #fff;
  height: 54px;
  line-height: 54px;
}

header nav .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .main-menu .menu {
  width: 100%;
  height: 54px;
}

header nav .main-menu .menu .menu-items {
  padding: 0;
  margin: 0;
}

header nav .main-menu .menu .menu-items .menu-item {
  display: inline-block;
  margin-right: 30px;
}

header nav .main-menu .menu .menu-items .menu-item a {
  padding: 15px 0;
  display: inline-block;
  color: #bbbbbb;
  text-transform: uppercase;
}

header nav .main-menu .menu .menu-items .menu-item a.active {
  color: #ff3115 !important;
}

header nav .main-menu .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .main-menu .search-container .search-icon,
header nav .main-menu .search-container .menu-icon {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .main-menu .search-container .search-icon {
  background-color: #ff3115;
}

header nav .main-menu .search-container .search-icon:hover {
  background-color: #e41f05;
}

header nav .main-menu .search-container .menu-icon {
  background-color: #e41f05;
}

header nav .main-menu .search-container .menu-icon:hover {
  background-color: #ff3115;
}

header nav .main-menu .search-container .search-icon,
header nav .main-menu .search-container .menu-icon {
  padding: 0 20px;
  color: #fff;
}

header nav .main-menu .search-container .modal-info {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000f2;
  padding-top: 60px;
}

header nav .main-menu .search-container .modal-info .modal-content {
  margin: 10% auto 15% auto;
  width: 60%;
}

header nav .main-menu .search-container .modal-info .close {
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px 0;
  font-size: 15px;
  font-weight: bold;
  background-color: silver;
  border-radius: 100%;
  padding: 15px;
}

header nav .main-menu .search-container .modal-info input[type=text] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  font-size: 20px;
  background: transparent;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #909091;
  color: #909091;
}

header nav .main-menu .search-container .modal-info .animate {
  -webkit-animation: animatezoom 0.6s;
          animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

header nav .container .row .col-12 .main-menu .menu .menu-items .menu-item .sub-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  header .header-top .container .topNav .u-part {
    margin-bottom: 10px;
  }
  header .header-top .container .topNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 10px;
  }
  header .header-top .container .topNav .rs-toolbar-right ul {
    display: inline-block;
    margin-right: 10px;
    font-size: 10px;
  }
  header .header-top .container .topNav .rs-toolbar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
}

@media screen and (max-width: 768px) {
  header .header-contact .container .row .mail-info,
  header .header-contact .container .row .call-info {
    display: none;
  }
  header .header-contact .container .row .logo-info a {
    margin: 0 100px;
  }
}

@media only screen and (min-width: 768px) {
  header nav .main-menu .menu {
    height: 54px !important;
  }
}

@media only screen and (max-width: 767px) {
  header nav .main-menu .search-container .menu-icon {
    display: none;
  }
  nav .main-menu .search-container .search-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 54px;
  }
  header nav .main-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .main-menu .menu {
    overflow: hidden;
    height: 0;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  header nav .m-menu-icon {
    display: block;
  }
  .menu .menu-items .menu-item {
    display: block;
  }
}

footer {
  margin-top: 1000px;
}

.about-us .services .container .service-icons .col-3 .services-item {
  background-color: #212121;
  padding: 25px 17px 17px;
  -webkit-box-shadow: 0 4px 2px -2px #000000;
          box-shadow: 0 4px 2px -2px #000000;
  z-index: 111;
  position: relative;
  top: -30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about-us .services .container .service-icons .col-3 .services-item .services-icon {
  height: 130px;
  width: 130px;
  background-color: #212121;
  line-height: 88px;
  text-align: center;
  position: absolute;
  top: -50px;
  z-index: -1;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #ff3115;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about-us .services .container .service-icons .col-3 .services-item .services-icon i {
  font-size: 30px;
}

.about-us .services .container .service-icons .col-3 .services-item .services-desc {
  line-height: 1.8;
}

.about-us .container .row .video-hover .box {
  position: relative;
  max-width: 100%;
  height: 100%;
  background: #000;
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.about-us .container .row .video-hover .box:before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-top: 5px solid #cf0909;
  border-bottom: 5px solid #cf0909;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  z-index: 1;
}

.about-us .container .row .video-hover .box:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.about-us .container .row .video-hover .box:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-left: 5px solid #cf0909;
  border-right: 5px solid #cf0909;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  z-index: 1;
}

.about-us .container .row .video-hover .box:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.about-us .container .row .video-hover .image-box {
  position: relative;
  height: 100%;
}

.about-us .container .row .video-hover .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about-us .container .row .video-hover .box:hover img {
  opacity: .2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about-us .container .row .video-hover .content {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.about-us .container .row .video-hover .content a {
  background-color: #a51414;
  border-radius: 50%;
  margin: 30px 0;
  padding: 10px;
  visibility: hidden;
}

.about-us .container .row .video-hover .content a i {
  font-size: 100px;
  padding: 10px;
  color: #ff3115;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  visibility: hidden;
  padding: 0 5px;
}

.about-us .container .row .video-hover .box:hover .content a i {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.about-us .container .row .accordion-items .panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.about-us .container .row .accordion-items .panel p {
  line-height: 1.8;
}

.about-us .container .row .accordion-items .accordion {
  background-color: rgba(240, 240, 240, 0.8);
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.2s background-color ease-in-out;
  transition: 0.2s background-color ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us .container .row .accordion-items .accordion:hover {
  background-color: #ff3115;
  color: #ffffff;
}

.about-us .container .row .accordion-items .accordion .accordion-active {
  background-color: #ff3115;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .about-us .services .container .service-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .about-us .container .hover-accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us .container .hover-accordion .video-hover .box {
    width: 100%;
  }
  .about-us .container .hover-accordion .accordion-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-us .container .hover-accordion .accordion-items .about-desc {
    width: 100%;
  }
  .container .col-12 .row .sec-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

#popular-courses {
  background-color: silver;
}

.popular-courses .container .row .owl-carousel .item .box {
  position: relative;
  width: 300px;
  height: 400px;
  background: #000;
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.popular-courses .container .row .owl-carousel .item .box:before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-top: 5px solid #cf0909;
  border-bottom: 5px solid #cf0909;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  z-index: 1;
}

.popular-courses .container .row .owl-carousel .item .box:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.popular-courses .container .row .owl-carousel .item .box:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-left: 5px solid #cf0909;
  border-right: 5px solid #cf0909;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  z-index: 1;
}

.popular-courses .container .row .owl-carousel .item .box:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.popular-courses .container .row .owl-carousel .item .image-box {
  position: relative;
  height: 100%;
}

.popular-courses .container .row .owl-carousel .item .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popular-courses .container .row .owl-carousel .item .box:hover img {
  opacity: .2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.popular-courses .container .row .owl-carousel .item .content {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.popular-courses .container .row .owl-carousel .item .content a {
  background-color: #a51414;
  border-radius: 50%;
  margin: 30px 0;
  padding: 10px;
  visibility: hidden;
}

.popular-courses .container .row .owl-carousel .item .content a i {
  font-size: 10px;
  padding: 10px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  visibility: hidden;
  padding: 0 5px;
}

.popular-courses .container .row .owl-carousel .item .content .text {
  margin: 0;
  padding: 0;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
  margin-bottom: 30px;
}

.popular-courses .container .row .owl-carousel .item .content .text hr {
  width: 10%;
}

.popular-courses .container .row .owl-carousel .item .content .text span {
  color: #fff;
  display: block;
}

.popular-courses .container .row .owl-carousel .item .box:hover .content a i, .popular-courses .container .row .owl-carousel .item .box:hover .content .icons, .popular-courses .container .row .owl-carousel .item .box:hover .content .text, .popular-courses .container .row .owl-carousel .item .box:hover .content a {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#acheivements {
  background-image: url(/photos/acheivements/counter-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

.acheivements .counter {
  padding: 100px 0 70px 0 !important;
}

.acheivements .counter .container .row .col-6 .counter-content .counter-title {
  color: #fff;
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 25px;
}

.acheivements .counter .container .row .col-6 .counter-content .counter-text p {
  margin-bottom: 35px;
  color: rgba(255, 255, 255, 0.6);
}

.acheivements .counter .container .row .col-6 .counter-content .counter-img img {
  max-width: 100%;
  height: auto;
}

.acheivements .counter .container .row .counter-list-item .row .col-6 .counter-list {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 30px;
  text-align: center;
  padding: 23px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.acheivements .counter .container .row .counter-list-item .row .col-6 .counter-list h2 {
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 6px;
}

.acheivements .counter .container .row .counter-list-item .row .col-6 .counter-list h4 {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 20px;
  text-transform: uppercase;
}

.acheivements .counter .container .row .counter-list-item .row .col-6 .counter-list:hover {
  border-color: #ff3115;
}

.slider-breaker {
  width: 50px;
  height: 3px;
  background: #ff3115;
  margin: 5px 0;
}

.experienced-staffs .container .row .image-slider-experienced .item .box .normal-text {
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  min-width: 175px;
  background-color: rgba(34, 34, 34, 0.8);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.experienced-staffs .container .row .image-slider-experienced .item .box .normal-text .team-name {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  display: block;
}

.experienced-staffs .container .row .image-slider-experienced .item .box .normal-text .subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  display: block;
}

.experienced-staffs .container .row .image-slider-experienced .item .box {
  position: relative;
  width: 300px;
  height: 400px;
  background: #000;
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.box:before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-top: 5px solid #cf0909;
  border-bottom: 5px solid #cf0909;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: 1;
}

.box:hover:before {
  opacity: 1;
}

.box:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-left: 5px solid #cf0909;
  border-right: 5px solid #cf0909;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: 1;
}

.box:hover:after {
  opacity: 1;
}

.image-box {
  position: relative;
  height: 100%;
}

.image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.box:hover img {
  opacity: .2;
}

.content {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.content h3 .name {
  color: #fff;
}

.content .icon-items {
  background-color: #ff3115;
  margin: 30px 0;
  padding: 10px;
  visibility: hidden;
  border-radius: 50%;
}

.content .icon-items i {
  font-size: 15px;
  padding: 10px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  visibility: hidden;
  padding: 0 5px;
}

.content .text {
  margin: 0;
  padding: 0;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.8;
}

.content .text span {
  color: #fff;
  display: block;
}

.box:hover .content a i, .box:hover .content .icons, .box:hover .content .text, .box:hover .content a {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.design-development .container-fluid {
  background-image: url(/photos/web-design/cta-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

.design-development .container-fluid .row {
  text-align: center;
}

.design-development .container-fluid .col-12 .sec-title {
  margin-bottom: 50px;
}

.design-development .container-fluid .col-12 .sec-title h2 {
  font-size: 30px;
  line-height: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #fff !important;
}

.design-development .container-fluid .col-12 .sec-title P {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 4;
}

.design-development .container-fluid .col-12 .cta-button {
  display: inline-block;
  text-decoration: none;
  background-color: #ff3115;
  color: #ffffff;
  font-weight: 500;
  min-width: 170px;
  line-height: 45px;
  height: 45px;
  text-align: center;
  text-transform: uppercase;
}

.card-body-items .news-normal-block {
  border: 1px solid rgba(34, 34, 34, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-body-items .card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  line-height: 1.4;
  padding: 15px 10px;
}

.card-body-items .col-6 .news-img {
  margin-bottom: 20px;
}

.card-body-items .col-6 .news-img img {
  max-width: 100%;
  height: auto;
}

.card-body-items {
  padding: 2px 16px;
}

.card-body-items a {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #505050;
}

.card-body-items a i {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  margin-right: 4px;
  color: #ff3115;
}

h4 a {
  color: #212121;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none !important;
  outline: none !important;
  font-size: 18px;
  font-weight: 700;
}

h4 p {
  margin-bottom: 20px;
}

.card-button {
  display: inline-block;
  margin-left: auto;
  padding: 10px 16px;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  background-color: #ff3115;
  color: #fff !important;
}

.card-body-items .news-list-block {
  margin-bottom: 10px;
}

.card-body-items .news-list-block .card .container a {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #505050;
}

.card-body-items .news-list-block .card .row .col-9 {
  line-height: 1.4;
}

.card-body-items .news-list-block .card .row .col-9 h4 {
  color: #212121;
}

.card-body-items .news-list-block .card .row .col-9 a {
  color: #505050;
}

.card-body-items .news-list-block .card .row .col-9 i {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  margin-right: 4px;
  color: #ff3115;
}

.news-list-item:hover {
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.public-img img {
  max-width: 100%;
}

.publications {
  background-color: #f9f9f9;
}

.publications .container-fluid {
  background-color: #f9f9f9;
}

.publications .add {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 1.6;
  padding: 40px 0px;
}

.publications .add .text h4 .price {
  color: #212121;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none !important;
  outline: none !important;
  font-size: 18px;
  font-weight: 700;
}

.publications .add .text h4 .price:hover {
  color: #ff3115;
}

.card .add-to-cart .add-to-cart-button {
  display: inline-block;
  margin-left: auto;
  padding: 2px 15px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid #212121;
  color: #212121;
  margin-top: 15px;
}

.card .add-to-cart .add-to-cart-button:hover {
  border-color: #ff3115;
  background-color: #ff3115;
  color: #fff;
}

.publications .container .row .owl-carousel .item .card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}

.publications .container .row .owl-carousel .item .card:hover {
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.publications .container .row .owl-carousel .item .card .container-fluid {
  padding: 2px 16px;
}

.image-hover:hover {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  opacity: 1;
}

.publications .container .row .button-view .view-btn {
  display: inline-block;
  margin: 30px;
  min-width: 170px;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  background-color: #ff3115;
  color: #fff;
}

.publications .container .row .button-view .view-btn:hover {
  background-color: #e41f05;
}

.publications .slider-shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what-people-says {
  background-image: url(/photos/what-people-say/testimonial-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

.what-people-says .container .row .testimonial-item {
  padding: 35px;
  background-color: #ffffff;
  margin: 0 15px;
  cursor: default;
}

.what-people-says .container .row .owl-carousel .item .testimonial-item .testi-img {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 110px;
  height: 110px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
}

.what-people-says .container .row .owl-carousel .item .testimonial-item .testi-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.what-people-says .container .row .testimonial-item .testi-desc {
  padding: 42px 0;
  position: relative;
}

.what-people-says .container .row .testimonial-item .testi-desc:before, .testimonial-item .testi-desc .i-l {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 26px;
  color: #ff3115;
}

.what-people-says .container .row .owl-carousel .item .testimonial-item .testi-desc .testi-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.what-people-says .container .row .owl-carousel .item .testimonial-item .testi-desc p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
}

.what-people-says .container .row .owl-carousel .item .testimonial-item .testi-desc .i-r {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 26px;
  color: #ff3115;
}

.logos .container .row .logos-sliders .item a img {
  width: 150px;
  height: 150px;
}
/*# sourceMappingURL=style.css.map */